<%- include('partials/headerr') %>

<div class="container d-flex justify-content-center">
    <div class="profile-container" style="width: 100%; max-width: 800px;">
        <div class="profile-header text-center my-4">
            <h1>Edit Profile</h1>
            <p>Update your account settings</p>
        </div>

        <div class="text-center mb-4">
            <img src="<%= profile.profile_picture || '/path/to/default-picture.jpg' %>"
                 alt="Profile Picture"
                 class="rounded-circle"
                 style="width: 150px; height: 150px; object-fit: cover;">
        </div>
            
        <form action="/userProfile/upsert" method="post" enctype="multipart/form-data">
            <input type="hidden" name="userId" value="<%= user.id %>">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="profile_picture">Profile Picture:</label>
                        <input type="file" class="form-control" name="profile_picture" id="profile_picture" accept="image/*">
                    </div>

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" id="username" value="<%= user.username %>" required>
                    </div>

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" value="<%= profile.name || '' %>">
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" value="<%= user.email %>" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="birthday">Birthday:</label>
                        <input type="date" class="form-control" name="birthday" id="birthday" value="<%= profile.birthday ? profile.birthday.toISOString().split('T')[0] : '' %>" required onchange="calculateAge()">
                    </div>

                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="text" class="form-control" name="age" id="age" value="<%= profile.age || '' %>" readonly>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="tel" class="form-control" name="phone" id="phone" value="<%= profile.phone || '' %>">
                    </div>

                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select class="form-control" name="gender" id="gender">
                            <option value="" disabled selected>Select your gender</option>
                            <option value="male" <%= profile.gender === 'male' ? 'selected' : '' %>>Male</option>
                            <option value="female" <%= profile.gender === 'female' ? 'selected' : '' %>>Female</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="street_name">Street Name:</label>
                        <input type="text" class="form-control" name="street_name" id="street_name" value="<%= profile.street_name || '' %>">
                    </div>
            
                    <div class="form-group">
                        <label for="city">City:</label>
                        <select class="form-control" name="city" id="city" required>
                            <option value="" disabled selected>Select your city</option>
                            <option value="calapan" <%= profile.city === 'calapan' ? 'selected' : '' %>>Calapan</option>
                            <option value="baco" <%= profile.city === 'baco' ? 'selected' : '' %>>Baco</option>
                            <option value="bansud" <%= profile.city === 'bansud' ? 'selected' : '' %>>Bansud</option>
                            <option value="bongabong" <%= profile.city === 'bongabong' ? 'selected' : '' %>>Bongabong</option>
                            <option value="bulalacao" <%= profile.city === 'bulalacao' ? 'selected' : '' %>>Bulalacao</option>
                            <option value="mansalay" <%= profile.city === 'mansalay' ? 'selected' : '' %>>Mansalay</option>
                            <option value="naujan" <%= profile.city === 'naujan' ? 'selected' : '' %>>Naujan</option>
                            <option value="pinamalayan" <%= profile.city === 'pinamalayan' ? 'selected' : '' %>>Pinamalayan</option>
                            <option value="pola" <%= profile.city === 'pola' ? 'selected' : '' %>>Pola</option>
                            <option value="puertoGalera" <%= profile.city === 'puertoGalera' ? 'selected' : '' %>>Puerto Galera</option>
                            <option value="roxas" <%= profile.city === 'roxas' ? 'selected' : '' %>>Roxas</option>
                            <option value="sanTeodoro" <%= profile.city === 'sanTeodoro' ? 'selected' : '' %>>San Teodoro</option>
                            <option value="socorro" <%= profile.city === 'socorro' ? 'selected' : '' %>>Socorro</option>
                            <option value="victoria" <%= profile.city === 'victoria' ? 'selected' : '' %>>Victoria</option>
                        </select>                
                    </div>
                </div>
            
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="barangay">Barangay:</label>
                        <select class="form-control" name="barangay" id="barangay" required>
                            <option value="" disabled>Select your barangay</option>
                            <% if (barangays[profile.city]) { %>
                                <% barangays[profile.city].forEach((b) => { %>
                                    <option value="<%= b %>" <%= b === profile.barangay ? 'selected' : '' %>><%= b %></option>
                                <% }) %>
                            <% } %>
                        </select>
                    </div>
                
                    <div class="form-group">
                        <label for="zip_code">Zip Code:</label>
                        <input type="text" class="form-control" name="zip_code" id="zip_code" value="<%= profile.zip_code || '' %>">
                    </div>                   
                </div>
            </div>
            <div class="d-flex gap-3">
                <button type="submit" class="btn btn-primary flex-grow-1" style="margin-right: 10px;">Save Profile</button>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>

<script>
    const barangays = {
        calapan: ["Balingayan", "Balite", "Baruyan", "Batino", "Bayanan I", "Bayanan II", "Biga", "Bondoc", "Bucayao",
            "Buhuan", "Bulusan", "Calero", "Camansihan", "Camilmil", "Canubing I", "Canubing II", "Comunal",
            "Guinobatan", "Gulod", "Gutad", "Ibaba East", "Ibaba West", "Ilaya", "Lalud", "Lazareto", "Libis",
            "Lumangbayan", "Mahal Na Pangalan", "Maidlang", "Malad", "Malamig", "Managpi", "Masipit", "Nag-Iba I",
            "Nag-Iba II", "Navotas", "Pachoca", "Palhi", "Panggalaan", "Parang", "Patas", "Personas", "Puting Tubig",
            "San Antonio", "San Rafael (formerly Salong)", "San Vicente Central", "San Vicente East", "San Vicente North",
            "San Vicente South", "San Vicente West", "Sapul", "Silonay", "Santa Cruz", "Santa Isabel", "Santa Maria Village",
            "Santa Rita", "Santo Niño", "Suqui", "Tawagan", "Tawiran", "Tibag", "Wawa"],
        baco: ["Alag", "Bangkatan", "Baras (Mangyan Minority)", "Bayanan", "Burbuli", "Dulangan I", "Dulangan II", 
            "Katuwiran I", "Katuwiran II", "Lantuyang (Mangyan Minority)", "Lumangbayan", "Malapad", "Mangangan I", 
            "Mangangan II", "Mayabig", "Pambisan", "Poblacion", "Pulantubig", "PuticanCabulo", "San Andres", 
            "San Ignacio", "Santa Cruz", "Santa Rosa I", "Santa Rosa II", "TabonTabon", "Tagumpay", "Water"],
        bansud: ["Antipolo", "Aras-asan", "Bagumbayan", "Balay", "Bayan ng Bansud", "Cabangahan", "Dampulan", 
            "Kalingatan", "Mababang Bato", "Magsaysay", "Managpi", "Napangan", "Pabilaan", "Poblacion", "Tagumpay"],
        bongabong: ["Alag", "Bagumbayan", "Balay", "Bayanan", "Bignay", "Bongabong Proper", "Lalud", 
            "Masaguitsit", "Marayag", "Mabanglas", "Mangyan", "Malunod", "Palhuan", "Poblacion", "San Isidro", "San Jose"],
        bulalacao: ["Balcasan", "Bamboo", "Buli", "Bulalacao", "Dawis", "Dela Paz", "Gintong Silangan", 
            "Hindang", "Ibayug", "Kalapagan", "Katribo", "Lamon", "Libas", "Lunhaw", "Mapagkumbaba", "Nag-iba", "Poblacion"],
        mansalay: ["Bagumbayan", "Bansud", "Bongabong", "Bubog", "Caguya", "Canas", "Canubing", "Dumantay", 
            "Gulod", "Mansalay", "Mapagkumbaba", "Poblacion", "San Antonio", "San Isidro"],
        naujan: ["Bagumbayan", "Bangas", "Barangan", "Buhay", "Dugay", "Isabang", "Ibabang I", "Ibabang II", 
            "Lagan", "Lapidan", "Maguin", "Marayag", "Mauway", "Muntinlupa", "Poblacion", "Punduhan"],
        pinamalayan: ["Bagong Silang", "Bagumbayan", "Bansud", "Bongabong", "Calapan", "Calavite", "Dumantay", 
            "Liitan", "Manganga", "Poblacion", "Pula", "San Vicente", "Silan", "Tabing Ilog"],
        pola: ["Bagumbayan", "Baras", "Bato", "Boton", "Bugtong na Bato", "Dulongbayan", "Ilog", "Kapatagan", 
            "Masaguitsit", "Mina", "Mundang", "Pagsanjan", "Palahang", "Poblacion", "Tabing Ilog", "Tagumpay"],
        puertogalera: ["Bagumbayan", "Banilad", "Bayanan", "Bongabong", "Buli", "Calapan", "Dulangan", "Katuwiran", 
            "Lagnas", "Mabuhay", "Manatad", "Manuel I", "Panganiban", "Poblacion", "San Antonio", "San Isidro"],
        roxas: ["Antipolo", "Bailan", "Bunga", "Manga", "Manggahan", "Mapagkumbaba", "Poblacion", "San Juan", "Tabon"],
        santeodoro: ["Antipolo", "Bagumbayan", "Bingag", "Buli", "Concepcion", "Dapdap", "Del Pilar", "Katuwiran", 
            "Mahayag", "Magsaysay", "Malinao", "Marakitan", "Poblacion", "San Juan", "Santo Niño"],
        socorro: ["Antipolo", "Batsanga", "Bagumbayan", "Buhay", "Concepcion", "Dolores", "Ibaba", "Kapatagan", 
            "Maguin", "Malalim", "Manatad", "Poblacion", "Pulang Lupa"],
        victoria: ["Bagumbayan", "Baras", "Buli", "Calero", "Cugman", "Del Pilar", "Dulangan", "Ibaba", 
            "Manuel L. Quezon", "Marina", "Nag-Iba", "Nampicuan", "Poblacion"]
    };

    // Populate barangays based on city selection
    document.getElementById('city').addEventListener('change', function () {
        const selectedCity = this.value;
        const barangaySelect = document.getElementById('barangay');

        // Clear barangay options
        barangaySelect.innerHTML = '<option value="" disabled>Select your barangay</option>';

        // Populate barangays based on selected city
        if (barangays[selectedCity]) {
            barangays[selectedCity].forEach(function (barangay) {
                const option = document.createElement('option');
                option.value = barangay;
                option.textContent = barangay;
                barangaySelect.appendChild(option);
            });
        }
    });

    document.getElementById('order-history-button').addEventListener('click', () => {
        window.location.href = '/orderHistory';  
    });


    // Calculate age based on birthday
    function calculateAge() {
        const birthdayInput = document.getElementById('birthday');
        const ageInput = document.getElementById('age');
        
        if (birthdayInput.value) {
            const today = new Date();
            const birthDate = new Date(birthdayInput.value);
            let age = today.getFullYear() - birthDate.getFullYear();
            const monthDifference = today.getMonth() - birthDate.getMonth();
            
            if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }

            ageInput.value = age;
        }
    }
</script>
